extends ../layout

block content
  h1 ALAMEDA

  button.btn.btn-primary(type='button', data-toggle="modal" data-target="#createPlateModal") Crear Placa

  a.btn.btn-danger(href='/') INICIO

  hr

  h2 Tablas de mantenimiento

  a.btn.btn-success(href='/placa/tamano') Tamaños de placa

  hr


  h2 Placas
  table.table.table-responsive.table-bordered
    thead

      th Tamaño
      th Precio
      th Cantidad
    tbody
      each plate in plates
        tr

          td= plate['PlateSize.name']
          td= plate.price
          td= plate.quantity



block modals
  include ./createModal

block scripts
  script(src='/js/plate/plate.js')