.modal.fade#createPhotolithSizeModal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title Agregar Tamaño de fotolito

      .modal-body

        form.inputForm#photolithSizeForm
          label Nombre
          input.form-control#photolithSizeName(type='text')


      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal') Cerrar
        button#createPhotolithSizeBtn.btn.btn-success(type='button') Añadir