extends layout

block content
  h1 ALAMEDA

  a.btn.btn-success(href="/cotizacion") Cotizaciones
  hr

  h2 Tablas de mantenimiento
  a.btn.btn-success(href="/papel") Papel
  a.btn.btn-primary(href="/placa") Placa
  a.btn.btn-danger(href="/fotolito") Fotolito
  a.btn.btn-warning(href="/impresion") Impresion
  a.btn.btn-default(href="/plastificado") Plastificado


