extends ../layout

block modals
	include ./createInputModal


block content
	h2 Cotizacion

	button.btn.btn-primary.btn-lg(type='button', data-toggle="modal" data-target="#quotationInputModal") Agregar Insumo
	hr


	table#quotationTable.table.table-responsive.table-bordered
		thead

			th Insumo
			th Subtotal

		tbody
			tr
				td(colspan=2)
			tr
				td
					strong.pull-right TOTAL



block scripts
	script(src='/js/quotation/quotation.js')