extends ../layout

block modals
	include ./createInputModal


block content
	h2 Cotizacion

	button.btn.btn-primary.btn-lg(type='button', data-toggle="modal" data-target="#quotationInputModal") Agregar Insumo
	hr


	table#quotationTable.table.table-responsive.table-bordered
		thead

			th Insumo
			th Subtotal

		tbody

			tr
				td
					strong.pull-right SUBTOTAL

				td#quotationSubtotal

			tr
				td
					strong.pull-right IGV

				td#quotationIGV

			tr
				td
					strong.pull-right TOTAL

				td#quotationTotal




block scripts
	script(src='/js/quotation/quotation.js')