extends ../layout

block content
  h1 ALAMEDA

  button.btn.btn-primary(type='button', data-toggle="modal" data-target="#createPaperModal") Crear Papel

  a.btn.btn-danger(href='/') INICIO
  hr

  h2 Tablas de mantenimiento
  a.btn.btn-success(href='/papel/tipo') Tipos de papel
  a.btn.btn-warning(href='/papel/tamano') Tamaños de papel
  hr

  h2 Papeles
  table.table.table-responsive.table-bordered
    thead
      th Tipo
      th Tamaño
      th Precio
      th Cantidad
    tbody
      each paper in papers
        tr
          td= paper['PaperType.name']
          td= paper['PaperSize.name']
          td= paper.price
          td= paper.quantity



block modals
  include ./createModal

block scripts
  script(src='/js/paper/paper.js')