extends ../layout

block content
  h1 ALAMEDA

  button.btn.btn-primary(type='button', data-toggle="modal" data-target="#createPaperModal") Crear Papel

  a.btn.btn-danger(href='/') INICIO



  h2 Papeles
  table.table.table-responsive.table-bordered
    thead
      th Tipo
      th Tamaño
      th Precio
      th Cantidad
    tbody
      each paper in papers
        tr
          td= paper['PaperType.name']
          td= paper['PaperSize.name']
          td= paper.price
          td= paper.quantity



block modals
  include ./createModal

block scripts
  script(src='/js/paper/paper.js')