extends ../../layout

block content
  h1 ALAMEDA

  button.btn.btn-primary(type='button', data-toggle="modal" data-target="#createPaperSizeModal") Crear Tamaño de papel

  a.btn.btn-danger(href='/papel') Papel



  h2 Tamaños
  table.table.table-responsive.table-bordered
    thead
      th Nombre
    tbody
      each paperSize in paperSizes
        tr
          td= paperSize.name




block modals
  include ./createModal

block scripts
  script(src='/js/paper/paperSize.js')